@model IEnumerable<Catering_Santa_Lucia.Models.PlatoServicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlatoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicioNavigation.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
